.rightbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
}
@media screen and (max-width: 1200px) {
    .rightbar{
        justify-content: flex-start;
        margin-top: 3rem;
    }
}
